@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Apply the new sans font globally */
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Fallback to the default sans-serif */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
